/* .categorie-item img{
    height: 160px;
    width: 160px;
    border: solid;
    display: inline;
}

.title-card{
    margin-top: 50px;
}

.categorie-item img{
    width: 99.44px;
    height: 100px;
} */

/* .CategoryCard:hover img:not(.blurred) {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .Image img {
    object-fit: cover;
    border-radius: 20px;
  } */
  


