.categorie-item img{
    height: 160px;
    width: 160px;
    /* border: solid; */
    display: inline;
}

.title-card{
    margin-top: 50px;
}

.categorie-item img{
    width: 99.44px;
    height: 100px;
}


